* {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(223, 223, 223);
}

main {
  padding: 1rem;
  height: 100vh;
}
.article-link {
  border: none;
  font-size: 100%;
}

.button-styles {
  height: 4%;
  width: 10%;
  background: darkgrey;
  border: none;
  border-radius: 2px;
  color: white;
}

